.register-section{
    margin: 100px;
}

.sign-up {
    background-color: #0079D3;
    border-color: #0079D3;
    color: aliceblue;
    fill: #0079D3;
    border: 1px solid;
    border-radius: 50px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    padding: 6px 50px;
    opacity: 1;
  }
  