<div class="register-section">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">Register</div>
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group row">
                            <label for="email_address" class="col-md-4 col-form-label text-md-right">
                                E-Mail Address
                            </label>
                            <div class="col-md-6">
                                <input type="text" formControlName="email" id="email_address" class="form-control"
                                    name="email-address" [ngClass]="{'is-invalid': submitted && f['email'].errors}"
                                    required autofocus />
                                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                    <div *ngIf="f['email'].errors['required']">
                                        Email is required
                                    </div>
                                    <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Username</label>
                            <div class="col-md-6">
                                <input type="text" formControlName="username" class="form-control" [ngClass]="{
                                        'is-invalid': submitted && f['username'].errors}" required autofocus />
                                <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                                    <div *ngIf="f['username'].errors['required']">
                                        Username is required
                                    </div>
                                    <div *ngIf="f['username'].errors['minlength']">
                                        Username must be at least 6 characters
                                    </div>
                                    <div *ngIf="f['username'].errors['maxlength']">
                                        Username must not exceed 20 characters
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input type="password" formControlName="password" id="password" class="form-control"
                                    name="password" [ngClass]="{'is-invalid': submitted && f['password'].errors}"
                                    required />
                                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors['required']">
                                        Password is required
                                    </div>
                                    <div *ngIf="f['password'].errors['minlength']">
                                        Password must be at least 6 characters
                                    </div>
                                    <div *ngIf="f['password'].errors['maxlength']">
                                        Username must not exceed 40 characters
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="confirm_password" class="col-md-4 col-form-label text-md-right">Confirm
                                Password</label>
                            <div class="col-md-6">
                                <input type="password" formControlName="confirmPassword" id="confirm_password"
                                    class="form-control" name="confirm_password"
                                    [ngClass]="{'is-invalid': submitted && f['confirmPassword'].errors}" required />
                                <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                                    <div *ngIf="f['confirmPassword'].errors['required']">
                                        Confirm Password is required
                                    </div>
                                    <div *ngIf="f['confirmPassword'].errors['matching']">
                                        Confirm Password does not match
                                    </div>
                                </div>
                            </div>
                        </div>

                        <span class="col-md-6 offset-md-4">
                            <button type="submit" class="sign-up">Sign Up</button>
                            <span style="padding-left: 15px;font-size: 14px;">Existing user? <a routerLink="/login">Log In</a></span>
                        </span>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>